<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--面板展示-->
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space20" id="showMB">
    </div>
</div>
<!--按钮-->
<div style="width: 216px; margin-left: 300px;">
    <button type="button" class="layui-btn layui-btn-fluid" id="addContact">添加通信地址信息</button>
</div>
</body>
<script>
    var OrganTreeObj=$.fn.zTree.getZTreeObj("organTree");
    var sNodes = OrganTreeObj.getSelectedNodes();
    var userId= sNodes[0].id.split("_")[1];//获取用户Id
    var userName=sNodes[0].name;//用户名称
    var form;
    layui.use(['element','form', 'layer'], function() {
        var element = layui.element;
        form=  layui.form;
        //展示面板
        $.post({
            data:{
                userId:userId
            },
            dataType:"json",
            url:"/ContactAddressController/queryContactAllByUserId.do",
            success:function (rse) {
                var rs = rse.data;
                //进行拼接
                SplicePanel(rs)
                //toPersonnel('/PersonnelJumpController/toContactAddress.do','通信地址');
            }
        })
    })

    //新增通信地址
    $("#addContact").on('click',function () {
        //var userName=sNodes[0].name;//用户名称
        layer.open({//弹框
            type:1,
            title:"新增/修改弹窗",
            area:['65%','65%'],
            content:$("#addHtml").html(),
            success:function () {//弹框成功
                $("#userName").val(userName);
                $("#operatorId").val(userId);
                $("#userId").val(userId);
                form.render();

            },
            btn:['提交','取消'],
            yes:function (index,layero){//点击确定
                //发送ajax请求
                $.post({
                    data:$("#UserAddressForm").serialize(),
                    dataType:"json",
                    url:"/ContactAddressController/addContact.do",
                    success:function (rs) {
                        if (rs.code==200){
                            layer.close(index);//关闭弹窗
                            layer.msg(rs.msg);
                            fileOnclick('/JumpController/toContactAddress.do','通讯地址');
                        }
                    }
                })

            }
        })

    })
    
    //拼接面板
    function SplicePanel(rs) {
        var htmls="";
        for(var i=0;i<rs.length;i++){
            htmls+='<div class="layui-col-md12"><div class="layui-card"><div class="layui-card-header">'+"通讯地址"+' <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" onclick="updateContact('+rs[i].id+')"><i class="layui-icon"></i></button><button type="button" class="layui-btn layui-btn-primary layui-btn-sm" onclick="deleteContact('+rs[i].id+')"><i class="layui-icon"></i></button></div><div class="layui-card-body">';
            htmls+="暂住地址 :"+rs[i].residentialAddress+"<br/>";
            htmls+="手机号 :"+rs[i].phone+"<br/>";
            htmls+="邮政编码 :"+rs[i].postCode+"<br/>";
            htmls+="紧急联系人 :"+rs[i].exigencyContacts+"<br/>";
            htmls+="联系人电话 :"+rs[i].exigencyPhone+"<br/>";
            htmls+="创建时间 :"+rs[i].createDate+"<br/>";
            htmls+="修改时间 :"+rs[i].updateDate+"<br/>";
            htmls+="</div></div>"
        }
        htmls+='</div></div>';
        $("#showMB").html(htmls)
    }


    //修改
    function updateContact(id) {
        layer.open({//弹框
            type:1,
            title:"新增/修改弹窗",
            area:['65%','65%'],
            content:$("#addHtml").html(),
            success:function () {//弹框成功
                $.post({
                    data:{
                        id:id
                    },
                    dataType:"json",
                    url:"/ContactAddressController/queryAddressById.do",
                    success:function (rs) {//回显赋值
                            $("#userName").val(userName);
                            $("#operatorId").val(rs.data.operatorId);
                            $("#userId").val(rs.data.userId);
                            $("#id").val(rs.data.id);
                            $("#phone").val(rs.data.phone);
                            $("#postCode").val(rs.data.postCode);
                            $("#residentialAddress").val(rs.data.residentialAddress);
                            $("#exigencyContacts").val(rs.data.exigencyContacts);
                            $("#exigencyPhone").val(rs.data.exigencyPhone);
                        form.render();
                    }
                })
            },
            btn:['提交','取消'],
            yes:function (index,layero){//点击确定
                $.post({
                    data:$("#UserAddressForm").serialize(),
                    dataType:"json",
                    url:"/ContactAddressController/updateContact.do",
                    success:function (rs) {
                        if (rs.code==200){
                            layer.close(index);//关闭弹窗
                            layer.msg(rs.msg);
                            fileOnclick('/JumpController/toContactAddress.do','通讯地址');
                        }
                    }
                })

            }
        })
    }
    //删除
    function deleteContact(id) {
        $.post({
            data:{
                id:id
            },
            dataType:"json",
            url:"/ContactAddressController/deleteContactById.do",
            success:function (rs) {
                if(rs.code==200){
                    layer.msg(rs.msg);
                    fileOnclick('/JumpController/toContactAddress.do','通讯地址');
                }

            }
        })
    }
</script>

<!--新增弹框-->
<script type="text/html" id="addHtml">
    <form class="layui-form layui-form-pane" id="UserAddressForm">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-block">
                    <input type="text" readonly id="userName" autocomplete="off" class="layui-input">
                </div>
            </div>
            <!--影藏id-->
            <input type="hidden" id="id" name="id">
            <!--用户id 影藏域-->
            <input type="hidden" id="userId" name="userId">
            <!--操作id 影藏域-->
            <input type="hidden" id="operatorId" name="operatorId">
            <div class="layui-inline">
                <label class="layui-form-label">手机号</label>
                <div class="layui-input-inline">
                    <input type="text" name="phone" id="phone" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">邮政编码</label>
                <div class="layui-input-block">
                    <input type="text" name="postCode"  id="postCode" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">暂住地址</label>
            <div class="layui-input-block" style="width: 840px">
                <input type="text" name="residentialAddress" id="residentialAddress" class="layui-input">
            </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">紧急联系人</label>
                <div class="layui-input-inline" style="width: 300px">
                    <input type="text" name="exigencyContacts" id="exigencyContacts" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 130px">紧急联系人电话</label>
                <div class="layui-input-inline" style="width: 300px">
                    <input type="text" name="exigencyPhone" id="exigencyPhone" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </form>
</script>
</html>