
#test-n2 {
	position: relative;
	min-height: 400px !important;
	width: 100% !important;
}

#test-n2  .layui-laydate-static,#test-n2  .layui-laydate-static  .layui-laydate-main ,#test-n2 .layui-laydate-content table{
	width: 100%;
}

#test-n2 .layui-laydate-content table tbody{
	height:calc(100vh - 240px)!important;
}
.text_box{
	padding: 15px !important;
}
#test-n2 .layui-laydate-main {
	width: 700px;
}

#test-n2 .layui-laydate-content td, #test-n2 .layui-laydate-content th {
	width: 100px;
	height: 60px;
}
.bg1 {
	background-color: #ff8837 !important;
}
.bgPink {
	background-color: #ef7ef8 !important;
}
.bgRed {
	background-color: #ff0000 !important;
}
.bgGreen {
	background-color: #00b319 !important;
}
.bgSkyBlue {
	background-color: #2bc9f1 !important;
}

